<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <form id="form-field">
      <label id="label">Gift</label>
      <input type="text" name="search" placeholder="bike" autofocus>
      <button type=submit id="add-to-list" disabled>Add to list</button>
    </form>
    <div id="output" style="border: 1px solid #000; padding: 20px 40px;"></div>
    
    <script src="/javascripts/amazon-autocomplete.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>

</html>